(def influxdb-info {
  :version :0.9
  :host "localhost"
  :port 8086
  :db "riemann"
})

(def influxSender
  (batch 100 1/10
    (async-queue! :agg {:queue-size 1000
                        :core-pool-size 1
                        :max-pool-size 4
                        :keep-alive-time 60000}
      (influxdb influxdb-info))))

;; Riemann log file location
(logging/init {:file "/var/log/riemann/riemann.log"})

;; listen on the local interface over TCP (5555), UDP (5555) and websockets (5556)
(let [host "0.0.0.0"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host}))

;; Expire states from its core's index every 60 seconds. Default is 10.
(periodically-expire 60)

(let [[index email] [(index) (mailer {
                                   :from "service@dejionline.com"
                                   :host "smtp.dejionline.com"
                                   :user "service@dejionline.com"
                                   :pass "Hello1234"
                                 })]]
  (streams
    index
    #(info %)
    influxSender
    (where (state "error") ;; TODO 定义发邮件; 增加短信包，加入extpath 发短信 （按指标约定）
        prn
        (email "zhangchao@dejionline.com"))))

